* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    font-family: "Oswald", sans-serif;
    color: #000000
}

.container {
    width: 100%;
    text-align: center;
}

.dropdown {
    padding: 0.5em;

}

.flex {
    min-height: 36vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    margin: 1em 0;
    width: 100%;
    padding: 0.5em;
    border-radius: 8px;
    font-size: 1.5em;
}

.box.confirmed {
    border: 1px solid #ce9b61;
    background: #E7B334;
}

.box.recovered {
    border: 1px solid #ce9b61;
    background: #88F061;
}

.box.deaths {
    border: 1px solid #ce9b61;
    background: #E25656;
}

@media screen and (min-width: 900px) {
    .flex {
        flex-wrap: nowrap;
    }
}

.box {
    margin: 0.5em;
    max-width: 500px;
    max-height: 300px;
    padding: inherit;
    line-height: 1.5;
    font-size: 1.5em;
    color: black;
    padding-top: 20px;
}

.mainText {
    font-size: 4em;
    font-style: italic;
    color: #FFFFFF;
    margin-top: 0em;
    margin-bottom: 0.2em;
}
/* .youtube1 {
    display:inline
}

.youtube2 {
    display:inline
}

.youtube3 {
    display:inline
} */
.video {
    margin-left: -119px;
    width: max-content;
}

